<mat-list-item class="movie-item">
  <mat-icon
    *ngIf="!movie.favorite"
    matTooltip="Mark as favorite"
    aria-label=""
    (click)="toggleFavorite()"
    >favorite_border</mat-icon
  >
  <mat-icon
    *ngIf="movie.favorite"
    matTooltip="Unmark as favorite"
    aria-label=""
    (click)="toggleFavorite()"
    >favorite</mat-icon
  >
  <mat-icon (click)="delete()" matTooltip="Delete this movie" aria-label=""
    >delete</mat-icon
  >
  <h3 mat-line>{{ movie.title }}</h3>
  <small mat-line>{{ movie.release | date }}</small>
</mat-list-item>
