a {
  text-decoration: none;
  color: white;
  &.is-active {
    background: darken($color: #3f51b5, $amount: 10%);
  }
}

@media (max-width: 959px) {
  mat-toolbar {
    border-radius: 0px;
  }

  @media (max-width: 599px) {
    mat-toolbar {
      height: auto;
      div {
        width: 100%;
        justify-content: space-between;
      }
      .menu-list {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
