<mat-toolbar
  color="primary"
  fxLayout.xs="column"
  class="toolbar"
  fxLayoutGap="10px"
>
  <div fxLayout="row" fxFlex.xs="1 1 100%">
    <button mat-icon-button fxHide.gt-xs (click)="onToggleMenu()">
      <mat-icon>menu</mat-icon>
    </button>
    <a routerLink="/home">MoviesApp</a>
  </div>

  <div fxShow="true" [fxShow.xs]="isMobileVisible" class="menu-list">
    <a
      *ngFor="let item of menuItems"
      routerLink="{{ item.link }}"
      routerLinkActive="is-active"
      mat-button
      >{{ item.text }}</a
    >
  </div>
</mat-toolbar>
