.movie {
  padding: 15px;
  &-image {
    padding: 10px;
    margin-right: 10px;
    img {
      width: 100%;
      margin: 0;
    }
  }
  &-info {
    p + p {
      margin-bottom: 20px;
    }
    small {
      font-style: italic;
    }
  }
}
@media (max-width: 599px) {
  .movie {
    margin-top: 30px;
  }
}
