/* You can add global styles to this file, and also import other style files */
@import "node_modules/angular2-toaster/src/toaster";
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.list-items .mat-drawer-inner-container {
  min-height: 100%;
  height: auto;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
}

mas-movie-details {
  width: 100%;
}
