<div class="list-container">
  <mat-sidenav #sidenav disableClose class="list-items">
    <mat-list>
      <mat-list-item>
        <mas-filter (applyFilter)="applyFilter($event)"></mas-filter>
      </mat-list-item>
      <mas-movie-item
        *ngFor="let movie of movies | filter: filterParam:'title'"
        [movie]="movie"
        routerLink="movie/{{ movie.id }}"
      ></mas-movie-item>
      <mat-list-item *ngIf="!movies.length" fxLayout="column" class="no-items">
        <p>there are no movies to show :(</p>
        <button routerLink="/new" mat-raised-button color="primary">
          Add Movie
        </button>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <button
    mat-icon-button
    *ngIf="!sidenav.opened"
    (click)="open()"
    class="btn-open"
  >
    <mat-icon>format_indent_increase</mat-icon>
  </button>
</div>
