<div class="list-container">
  <mat-sidenav #sidenav disableClose class="list-items">
    <mat-list>
      <mat-list-item>
        <mas-filter (applyFilter)="applyFilter($event)"></mas-filter>
      </mat-list-item>
      <mas-movie-item
        *ngFor="let movie of movies | filter: filterParam:'title'"
        [movie]="movie"
        routerLink="movie/{{ movie.id }}"
        routerLinkActive="is-active"
        (click)="close()"
      ></mas-movie-item>
      <mat-list-item *ngIf="!movies.length" fxLayout="column" class="no-items">
        <p matLine>No movies found :(</p>
        <button matLine routerLink="/new" mat-raised-button color="primary">
          Add Movie
        </button>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <div *ngIf="!sidenav.opened">
    <button
      mat-icon-button
      (click)="open()"
      matTooltip="show movies list"
      aria-label=""
      class="btn-open"
    >
      <mat-icon>format_indent_increase</mat-icon>
    </button>
  </div>
</div>
